<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
<p><label for="email">Email:</label>
<input type="text" name="email" id="email"></p>
<p><label for="password">Password:</label>
<input type="text" name="password" id="password"></p>v
<input type="submit" id="Log In">
</form>